h3,
h2 {
	color: azure;
	font-weight: bold;
}
p {
	color: azure;
	font-size: small;
}

.hab {
	border: 1px double black;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	width: 113px;
	height: 70px;
	outline-style: groove;
	position: relative;
}

.hab:hover {
	box-shadow: 5px 10px 20px 1px rgb(34, 34, 34) !important;
	transition: all 0.1s linear !important;
	-webkit-transition: all 0.1s linear !important;
	-moz-transition: all 0.1s linear !important;
	-ms-transition: all 0.1s linear !important;
	-o-transition: all 0.1s linear !important;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.habLibre {
	background: rgb(17, 151, 50) !important;
}
.habLibre:hover {
	background: rgb(12, 105, 35) !important;
}

.habFrac {
	background: rgb(175, 60, 45) !important;
}

.habFrac:hover {
	background: rgb(179, 38, 20) !important;
}

.habFull {
	background: rgb(175, 60, 45) !important;
}

.habFull:hover {
	background: rgb(179, 38, 20) !important;
}

.habManttoHidden {
	display: none;
}

.habMantto {
	background: rgb(213, 216, 21) !important;
	color: black !important;

	h3 {
		color: black;
	}
	p {
		color: black;
		font-size: small;
	}
}

.habMantto:hover {
	background: rgb(155, 156, 62) !important;
}

.sb2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.suitebtn {
	width: 25px;
	height: 25px;
	border: 1px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: #198754;
}
.suitebtn:hover {
	background-color: #105334;
}

.habCard {
	width: 120px;
}

.extraDisp {
	background-color: rgb(28, 245, 245);

	p {
		color: black;
	}
}

.extraAgot {
	background-color: rgb(235, 28, 21);
}
.icon {
	max-height: 35px;
}

.formExtra {
	max-height: 35px !important;
	display: block;
	width: 100%;
	padding: 0.001rem 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.titleform {
	color: #212529 !important;
}

.logs {
	color: white !important;
	font-size: small;
}
